<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- header information here for the XML name spaces,
    and that's what's required for Spring to be able to process this file using
    its grammar and XML schema. -->

    <!-- Define your beans here -->
    
    <!-- 
	Add a logger config to see logging messages.		
	- For more detailed logs, set values to "FINEST"
	- For info on logging levels, see: http://www.vogella.com/tutorials/Logging/article.html
 	-->
    <bean id="myLoggerConfig" class="com.spring.springdemo.MyLoggerConfig" init-method="initLogger">
    	<property name="rootLoggerLevel" value="FINE" />
    	<property name="printedLoggerLevel" value="FINE"/>
    </bean>
    
    <!-- define the dependency -->
    <bean id="myFortuneService"
    	class="com.spring.springdemo.HappyFortuneService">
    </bean>
    
   	<bean id="myCoach"
   		class="com.spring.springdemo.BaseballCoach">
   	<!-- you can change it to another coach whenever you want -->
   		
   		<!-- set up constructor injection -->
   		<constructor-arg ref="myFortuneService"/>
   	</bean>
   	
</beans>





